@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kaist-blue: #004098;
  --kaist-light-blue: #0066CC;
  --kaist-red: #E31937;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
